.jumbotron {
  margin-bottom: 0rem;
}

label {
  margin-bottom: 0rem;
  font-size: 25px;
}

#logo {
  disppay: flex;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

footer {
  padding-top: 1.5rem;
}